apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: kyma-project.io--acm-gateway-allow-to-external-system
  namespace: system
spec:
  podSelector:
    matchLabels:
      app: central-application-gateway
  policyTypes:
    - Egress
  egress:
    - ports:
        - protocol: TCP
          port: 443
