# Default owners of the repository
* @kyma-project/Framefrog

# All files and subdirectories in /docs
/docs/ @kyma-project/technical-writers

# All .md files
*.md @kyma-project/technical-writers

# Design docs and skills do not require technical-writers review
/docs/contributor/ @kyma-project/Framefrog
/openspec/ @kyma-project/Framefrog
/.pi/ @kyma-project/Framefrog
