name: Module integration tests

on:
  workflow_call:
  push:
    branches: [ "main" ]

  pull_request:

permissions:
  contents: read

jobs:
  integration-tests:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up go environment
      uses: actions/setup-go@v5
      with:
          go-version-file: 'go.mod'

    - name: Run integration tests without lifecycle-manager
      run: |
        set -o pipefail
        make -C hack/ci run-without-lifecycle-manager 2>&1 | tee module-integration-test.log

      - name: Archive test results
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: module-integration-test
          path: module-integration-test.log

      - name: Integration test summary
        if: success() || failure()
        run: |
          {
            echo '## Module Integration Tests'
            echo "<details>"
            echo "<summary>click to expand logs</summary>"
            printf '\n```\n'
            cat module-integration-test.log
            printf '\n```\n'
            echo "</details>"
          } >> $GITHUB_STEP_SUMMARY
