apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: kyma-project.io--acm-module-allow-to-external-system
  namespace: system
spec:
  podSelector:
    matchExpressions:
      - key: app
        operator: In
        values:
          - compass-runtime-agent
          - central-application-gateway
  policyTypes:
    - Egress
  egress:
    - to:
        - ipBlock:
            cidr: 0.0.0.0/0
            except:
              - 169.254.0.0/16
